{% extends "parent.html" %}
{% block title %}Marine Litter Watch (MLW){% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/graph1.css">
{% endblock %}

{% block page_name %}Graph1{% endblock %}

{% block body %}
<section class="top-banner">
    <div class="top-banner-overlay">
        <h1>Hack the Planet 2021</h1>
        <p>Graph1</p>
    </div>
    <div class="top-graph-overlay">
        <iframe width="384" height="216"
            src="https://insights-embed.newrelic.com/embedded_widget/WKeEL1x09_xpTR8Nkr36EB6uujhTqCKQ" frameborder="0"
            style="position:center;width:100%;height:50%"></iframe><br>

        <iframe width="384" height="216"
            src="https://insights-embed.newrelic.com/embedded_widget/qj7PjC2VklMS54xoJiYnr5tkbqLi7iz6" frameborder="0"
            style="position:center;width:100%;height:50%"></iframe>
    </div>
</section>

{% endblock %}
