{% extends "parent.html" %}
{% block title %}Marine Litter Watch (MLW){% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/graph1.css">
{% endblock %}

{% block page_name %}Graph1{% endblock %}

{% block body %}
<section class="top-banner">
    <div class="top-banner-overlay">
        <h1>Hack the Planet 2021</h1>
        <p>Graph1</p>
    </div>
    <div class="top-graph-overlay">
        <iframe width="384" height="216"
            src="https://insights-embed.newrelic.com/embedded_widget/KQmFKrM6wMQp29rHZa4tu1jXf0Hs0NH6" frameborder="0"
            style="position:center;width:100%;height:50%"></iframe>
    </div>
    <div class="top-graph-overlay"><iframe width="384" height="216"
            src="https://insights-embed.newrelic.com/embedded_widget/eSdtLMXSHRM3dV64Q0b112vS9QpjcbL3" frameborder="0"
            style="position:center;width:100%;height:50%"></iframe></div>
</section>

{% endblock %}
