/*
 * CSS stylesheet for graph1 page
 */

 .top-graph-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 750px;
  padding: 20px;
  transition: transform 0.7s;
  color: white;
  background: rgba(110, 159, 250, 0.7);
}
